.custom-button {
  position: relative;
  min-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.google {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  &:hover {
    background-color: white;
    color: #4285f4;
    border: 1px solid #4285f4;
  }
}

.inverted {
  background-color: white;
  color: black;
  border: 1px solid black;
  &:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}
