.collection-item {
  position: relative;
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 35rem;
  align-items: center;

  .collection-item-image {
    overflow: hidden;
    height: 30rem;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      margin-bottom: 5px;
    }
  }

  .custom-button {
    position: absolute;
    bottom: 6.5rem;
    display: none;
    width: 70%;
  }

  &:hover {
    .collection-item-image img {
      opacity: 0.8;
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    .custom-button {
      display: block;
      opacity: 0.8;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
