.sign-up {
  flex-grow: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  h2,
  span {
    text-align: center;
  }
}

.buttons-sign-up {
  display: flex;
  justify-content: center;
  button {
    min-width: 50%;
  }
}
